.experience {
  height: 100vh;

  .item {
    &__time {
      color: $font-secondary_light;
    }
    &__location {
      color: $font-secondary_light
    }
    &__position {
      font-weight: 600;
    }
    &__company {
      color: $accent-color;
      font-weight: 600;
    }
  }
}