.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.header {
  padding: 12px;
  font-size: 9pt;

  &__logo {
    display: inline-block;
    width: 40;
    height: 40;
    path {
      fill: $accent-color;
    }
  }

  &__links {
    float: right;
    * {
      display: inline-block;
    }
    &__link {
      padding-right: 15pt;
      &__index {
        color: $accent-color;
      }
      &__label {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}