.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.header {
  font-size: 10pt;
  background-color: black;

  &__logo {
    path {
      fill: $accent-color;
    }
  }

  &__link {
    padding-right: 15pt;
    color: $accent-color;

    .active {
      background-color: cyan;
    }

    &__index {
      color: $accent-color;
    }

    &__label {
      &:hover {
        color: $accent-color;
      }
    }
  }
}