.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.header {
  font-size: 10pt;
  background-color: $base-color;

  &__logo {
    path {
      fill: $primary;
    }
  }

  &__link {
    padding-right: 15pt;
    color: $primary;

    &__index {
      color: $primary;
    }

    &__label {
      &:hover {
        color: $primary;
      }
    }
  }
}