.intro {
  &__name {
    font-size: 15pt;
    p {
      margin: 4pt 0 4pt 0;
    }
  }

  &__statement {
    color: $font-secondary_light;
  }

  &__title {
    display: inline;
    margin: 8pt 0 8pt 0;
    background: $accent-color;
    color: $base-color;
    font-size: 48pt;
  }
}