.projects {

  .project {
    &__title {
      font-weight: 600;
      &:hover {
        text-decoration-color: $accent-color;
        text-decoration: underline;
      }
    }
  }

  .grid {
    margin: 0 auto;

    .grid-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .grid-item {
        flex-basis: 50%;
        width: 750px;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1px $accent-color;
        border-radius: 4pt;
      }
    }
  }
}