.social-media-link {
  padding-right: 10pt;
  
  svg {
    width: 20pt;
    height: 20pt;
  }
  path {
    fill: transparentize($color: white, $amount: 0.5);
  }
  &:hover {
    path {
      fill: $accent-color;
    }
  }
}