.social-media-links {
  position: fixed;
  bottom: 25pt;
  right: 35pt;

  .link {
    margin-bottom: 15pt;
    display: flex;
    flex-direction: column;
    
    svg {
      width: 20pt;
      height: 20pt;
    }
    path {
      fill: transparentize($color: white, $amount: 0.5);
    }
    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }
}
