.experience {
    &__item {
        padding: 0px 0px 10px 0px;
        &__time, &__location {
            color: $font-secondary;
            float: right;
            clear: right;
        }
        &__company {
            font-style: italic;
        }
        &__position {
            font-weight: 600;
        }
    }
}