.header {

  text-align: center;

  &__name {
    font-weight: 600;
    font-size: 24pt;
    font-variant: small-caps;
    color: $font-primary_light;
    margin: 10px 0px 10px 0px;
  }
  &__info {
    margin: 10px 0px 10px 0px;
    * {
      display: inline-block;
      margin: 0px 8px 0px 8px;
    }
  }
}