$base-color: #121020;

$accent-color: rgb(175, 255, 100);
//$accent-color: rgb(253, 182, 21);

$font-primary: rgba(0, 0, 0, 0.9);
$font-secondary: rgba(0, 0, 0, 0.5);
$font-tertiary: rgba(0, 0, 0, 0.5);

$font-primary_light: rgba(255, 255, 255, 0.9);
$font-secondary_light: rgba(255, 255, 255, 0.5);
$font-tertiary_light: rgba(255, 255, 255, 0.3);