$base-color: #121020;
$accent-color: rgb(175, 255, 100); //#ca196c;

$font-primary: rgb(60, 60, 60);
$font-secondary: rgb(120, 120, 120);

$font-primary_light: rgba(255, 255, 255, 0.9);
$font-secondary_light: rgba(255, 255, 255, 0.5);
$font-tertiary_light: rgba(255, 255, 255, 0.3);