// This is the place to place Bootstrap-related CSS customizations.
// As example you can start by importing the _bootswatch.scss file from one of the
// theme provided by https://bootswatch.com .

h3 {
  color: $white;
}

.dropdown-item {
  color: $body-color;
  &:hover {
    background-color: $primary;
    color: $body-color;
  }
}

.btn {
  font-family: $headings-font-family;

  &:hover {
    background-color: transparentize($color: $primary, $amount: 0.8);
    color: $primary;
  }
}