

$white: #fff !default;
$gray-100: transparentize($color: $white, $amount: 0.1) !default;
$gray-200: transparentize($color: $white, $amount: 0.2) !default;
$gray-300: transparentize($color: $white, $amount: 0.3) !default;
$gray-400: transparentize($color: $white, $amount: 0.4) !default;
$gray-500: transparentize($color: $white, $amount: 0.5) !default;
$gray-600: transparentize($color: $white, $amount: 0.6) !default;
$gray-700: transparentize($color: $white, $amount: 0.7) !default;
$gray-800: transparentize($color: $white, $amount: 0.8) !default;
$gray-900: transparentize($color: $white, $amount: 0.9) !default;
$black: #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF7851 !default;
$orange:  #fd7e14 !default;
$yellow:  #FFCE67 !default;
$green:   #56CC9D !default;
$teal:    #20c997 !default;
$cyan:    #6CC3D5 !default;

$primary:   rgb(175, 255, 100) !default;
$secondary: #F3969A !default;

$body-color: #121020 !default;
