---
---

@import "variables";

@import "resume/header";
@import "resume/education";
@import "resume/skills";
@import "resume/experience";
@import "resume/projects";
@import "resume/courses";
@import "resume/awards";
@import "resume/keywords";

body {
  color: $gray-700;
  font-family: Calibre, " Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 12pt;
}

.section {
  &__title {
    color: $gray-700;
    font-weight: 500;
    font-size: 16pt;
  }
  &__content {
    margin: 10pt 0pt 10pt 0pt;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

.hr {
  border-top: 1.5pt solid $primary;
}

.courses {
  width: 47%;
  float: left;
  clear: left;
}

.awards {
  width: 50%;
  float: right;
  clear: right;
}