---
---

@import "partials/colors";
@import "partials/resume/header";

body {
    color: $font-primary;
    font-family: Calibre, " Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    margin: 12px;
}

a {
    text-decoration: none;
    color: $accent-color;
}

.hr {
    border-top: 1px solid $accent-color;
}