---
---

@import "variables";
@import "bootstrap/bootstrap";
@import "customization";

@import "shared";

@import "site/header";
@import "site/intro";
@import "site/about";
@import "site/skills";
@import "site/experience";
@import "site/projects";
@import "site/contact";
@import "site/footer";
@import "site/media-links";
@import "site/wip-notice";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", Times, serif;
  background-color: darken($body-color, 30%);
  color: $gray-500;
  position: relative;
}

.main {
  background-color: $body-color;
}

a {
  color: $white;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

ul {
  list-style: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: column;

  &__header {
    color: $white;
    padding: 32pt;
    
    &__index {
      color: $primary
    }
    h3 {
      font-weight: 800;
    }
  }

  &__content {
  }
}