---
---

@import "partials/colors";
@import "partials/shared";

@import "partials/site/header";
@import "partials/site/intro";
@import "partials/site/about";
@import "partials/site/skills";
@import "partials/site/experience";
@import "partials/site/projects";
@import "partials/site/contact";
@import "partials/site/footer";

body {
  background: $base-color;
  font-family: "Helvetica", Times, serif;
  color: $font-primary_light;
}

a {
  color: $font-primary_light;
}

.terminal {
  border-image-source: url(../images/terminal.dark.png);
  border-image-slice: 150 150 150 150;
}

.section {
  height: 100vh;
  border: 1px solid red;

  &__header {
    color: blue;
  }
}