{% assign education = site.data.education %}

<div class="section education">
    <h2 class="section__title">Education</h2>
    <div class="hr"></div>
    <div class="section__content">
        <div class="education__item">
            <div class="education__item__date">{{ education.date }}</div>
            <div class="education__item__school">{{ education.school }}</div>
            <div class="education__item__degree">{{ education.degree }}</div>
            <div class="education__item__details">{{ education.details }}</div>
        </div>
    </div>
</div>