{% assign education = site.data.education %}

<div class="section education">
  <a class="section__title" target="_blank">Education</a>
  <div class="hr"></div>
  <div class="section__content">
    <div class="education__item">
      <div class="education__item__date">{{ education.date }}</div>
      <div class="education__item__school">{{ education.school }}</div>
      <div class="education__item__degree">{{ education.degree }}</div>
      <div class="education__item__details">{{ education.details }}</div>
    </div>
  </div>
</div>