<div class="section experience">
  <a class="section__title" href="http://yassck02.github.io#Experience">Experience</a>
  <div class="hr"></div>
  <div class="section__content">
    {% for experience in site.data.experiences %}
    <div class="experience__item">
      <div class="experience__item__time">{{ experience.time }}</div>
      <div class="experience__item__location">{{ experience.location }}</div>
      <div class="experience__item__position">{{ experience.position}}</div>
      <div class="experience__item__company">- {{ experience.company }}</div>
      <div class="experience__item__description">{{ experience.description }}</div>
    </div>
    {% endfor %}
  </div>
</div>