<div class="section projects">
  <a class="section__title" href="http://yassck02.github.io/#Projects" target="_blank">Projects</a>
  <div class="hr"></div>
  
  <div class="section__content">
    {% for project in site.data.projects.featured %}
    <div class="projects__item">
      
      {% if project.url %}
      <a class="projects__item__name" href="{{ project.url }}" target="_blank">{{ project.name }}</a>
      {% else %}
      <div class="projects__item__name">{{ project.name }}</div>
      {% endif %}
      
      <div class="projects__item__description">
        {{ project.description }}
        {% if project.url %}
        | <a class="projects__item__link" href="{{ project.url }}" target="_blank">{{ project.url }}</a>
        {% endif %}
      </div>

    </div>
    {% endfor %}
  </div>
</div>