<div class="section skills">
    <h2 class="section__title">Skills</h2>
    <div class="hr"></div>
    <div class="section__content">
        {% for category in site.data.skills %}
        <div class="skills__category">
            <div class="skills__category__title">{{ category[0] }}</div>
            <div class="skills__category__list">
                {% for item in category[1] %}
                <div>{{ item.item }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>