.experience {
  min-height: 100vh;
  
  .item {
    &__time {
      color: $gray-500;
    }
    &__location {
      color: $gray-500;
    }
    &__position {
      font-weight: 600;
    }
    &__company {
      color: $primary;
      font-weight: 600;
    }
  }
}