<div id="Contact" class="section contact fade-in">

  <div class="section__header">
    <p class="section__header__index code">04.</p>
    <h3>Get in Touch</h3>
  </div>

  <div class="section__content">
    <p class="contact__prompt">I'm not currently open to a job change, but I am 
      always open to creating and collaborating on 
      exciting independent open source projects.</p>

      <p class="contact__prompt">Wanna share your ideas? Wanna hear some of mine?</p>

    <a class="btn btn-outline-primary"
      href="mailto:{{site.data.info.email}}" 
      target="_blank" 
      rel="nofollow noopener noreferrer">Say Hello</a>
  </div>
  
</div>
