<a name="Contact"></a>
<div class="section contact fade-in">

  <div class="section__header">
    <p class="section__header__index code">04.</p>
    <h3>Get in Touch</h3>
  </div>

  <div class="section__content">
    <p>I'm not currently open to a job change, but I am 
      always open to creating and collaborating on 
      independent open source projects. Wanna share 
      your ideas? Wanna hear some of mine?</p>

    <a class="btn"
      href="mailto:yassck02@gmail.com" 
      target="_blank" 
      rel="nofollow noopener noreferrer">Say Hello</a>
  </div>
  
</div>
