<div id="Experience" class="section experience">

  <div class="section__header">
    <p class="section__header__index code">02.</p>
    <h3>Places I've Worked</h3>
  </div>

  <div class="section__content">

    <div class="row">
      <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">

          {% for experience in site.data.experiences %}
          <a class="list-group-item list-group-item-action" 
             data-toggle="list" 
             href="#{{ experience.company }}" 
             role="tab" 
             aria-controls="{{ experience.company }}">{{ experience.company-short }}</a>
          {% endfor %}

        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">

          {% for experience in site.data.experiences %}
          <div id="{{ experience.company }}" class="tab-pane fade" role="tabpanel">
            <div class="item__time code">{{ experience.time }}</div>
            <div class="item__location code">{{ experience.location }}</div>
            <div class="item__position">{{ experience.position}}</div>
            <div class="item__company">@ {{ experience.company }}</div>
            <ul class="item__description">
              {% for item in experience.description %}
              <li>{{ item }}</li>
              {% endfor %}
              </duliv>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>


  </div>

</div>