<div id="Experience" class="section experience">

  <div class="section__header">
    <div class="row">
      <h3 class="section__header__index code">02.</h3>
      <h3>Places I've Worked</h3>
    </div>
    <hr>
  </div>

  <div class="container row section__content">

    <!-- Tabs -->
    <div class="col-4">
      <ul class="nav nav-pills flex-column" role="tablist">
        {% for experience in site.data.experiences %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Company{{forloop.index}}">{{ experience.company-short }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- tab content -->
    <div class="col-8">
      <div class="tab-content">
        {% for experience in site.data.experiences %}
        <div id="Company{{forloop.index}}" class="item tab-pane container fade">

          <div class="row">
            <h6 class="item__position">{{ experience.position}}</h6>
            <h6 class="item__company">@ {{ experience.company }}</h6>
          </div>

          <div class="row">
            <div class="item__time code">{{ experience.time }}</div>
            <!-- <div class="item__location code">{{ experience.location }}</div> -->
          </div>

          <ul class="item__description">
            {% for item in experience.description %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>