<div id="Experience" class="section experience fade-in">

  <div class="section__header">
    <p class="section__header__index code">02.</p>
    <h3>Places I've Worked</h3>
  </div>

  <div class="section__content">

    {% for experience in site.data.experiences %}
    <div id="{{ experience.company }}" class="tab-content">
      <div class="item__time code">{{ experience.time }}</div>
      <div class="item__location code">{{ experience.location }}</div>
      <div class="item__position">{{ experience.position}}</div>
      <div class="item__company">@ {{ experience.company }}</div>
      <ul class="item__description">
        {% for item in experience.description %}
        <li>{{ item }}</li>
        {% endfor %}
        </duliv>
    </div>
    {% endfor %}
  </div>

</div>