<nav id="header" class="header navbar navbar-expand-md sticky-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="header__logo rotate">
        {% include logo.svg %}
      </div>
    </div>

    <div class="collapse navbar-collapse" id="cy-navbar">
      <ul class="nav navbar-nav ml-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item header__link code active">
          0{{ item.index }}.
          <a class="header__link__label" href="#{{ item.label }}">{{ item.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <a class="btn navbar-toggler ml-auto" 
       data-toggle="collapse" 
       data-target="#cy-navbar">
      ...
    </a>

    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Resume
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/resume/html">HTML</a>
        <a class="dropdown-item" href="/assets/files/resume.pdf">PDF</a>
      </div>
    </div>

  </div>
</nav>