<div id="Projects" class="section projects fade-in">

  <div class="section__header">
    <p class="section__header__index code">03.</p>
    <h3>Some Things I've built</h3>
  </div>

  <div class="grid section__content">
    <div class="grid-row">
      {% for project in site.data.projects.featured %}

      <div class="project grid-item">
        <a class="project__title" href="{{project.url}}">{{ project.name }}</a>
        <p class="project__description">{{ project.description }}</p>

        <ul class="project__technologies">
          {% for tech in project.technologies %}
          <li>{{ tech }}</li>
          {% endfor %}
        </ul>
      </div>

      {% endfor %}
    </div>
  </div>

</div>