<div id="Projects" class="section projects">

  <div class="section__header">
    <div class="row">
      <h3 class="section__header__index code">03.</h3>
      <h3>Things I've Built</h3>
    </div>
    <hr>
  </div>

  <div class="section__content container">
    <div class="row">
      
      {% for project in site.data.projects.featured %}

      <div class="col-md">
        <a class="project__title" href="{{project.url}}">{{ project.name }}</a>
        <p class="project__description">{{ project.description }}</p>

        <ul class="project__technologies">
          {% for tech in project.technologies %}
          <li>{{ tech }}</li>
          {% endfor %}
        </ul>
      </div>

      {% endfor %}
    </div>
  </div>

</div>