<a name="Projects"></a>
<div class="section projects fade-in">

  <div class="section__header">
    <p class="section__header__index code">03.</p>
    <h3>Some Things I've built</h3>
  </div>

  <div class="section__content">
    {% for project in site.data.projects %}
      <div class="project">
        <a href="{{project.url}}">{{project.name}}</a>
        <p>{{project.description}}</p>
        <div>
          {% for item in project.items %}
            <span>{{item.thing}}</span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  
</div>



