<a name="Skills"></a>
<div class="section projects fade-in">
  
  <div class="section__header">
    <p class="section__header__index code">01.</p>
    <h3>Technologies I've used</h3>
  </div>

  <div class="section__content">
    <div class="skills__titles">
    {% for category in site.data.skills %}
      <div class="skills__titles__title">{{ category[0] }}</div>
    {% endfor %}
    </div>
    <div class="skills__lists">
      {% for category in site.data.skills %}
        <div class="skills__lists__list">
          {% for item in category[1] %}
            <div class="skills__lists__list__item">{{ item.item }},</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  
</div>