<a name="Skills"></a>
<div class="section skills fade-in">
  
  <div class="section__header">
    <p class="section__header__index code">01.</p>
    <h3>Technologies I've used</h3>
  </div>

  <div class="grid section__content">
    
      <div class="grid-row">

        {% for category in site.data.skills %}
        <div class="grid-item">
          <div class="skills__title">{{ category[0] }}</div>
          <ul class="skills__list">
              {% for item in category[1] %}
                <li class="skills__list__item">{{ item }}</li>
              {% endfor %}
          </duliv>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>