.header {

  text-align: center;

  &__name {
    font-weight: 600;
    font-size: 24pt;
    font-variant: small-caps;
    color: $dark-100;
    margin: 10pt 0pt 10pt 0pt;
  }
  &__info {
    margin: 10pt 0pt 10pt 0pt;
    * {
      display: inline-block;
      margin: 0pt 8pt 0pt 8pt;
    }
  }
}