.projects {
  &__item {
    
    width: 50%;
    float: right;
    padding: 00pt 0pt 10pt 0pt;

    &__name {
      font-weight: 600;
    }
    &__description {
      padding-top: 4pt;
      padding-right: 12pt;
    }
  }
}