.skills {
  &__titles {
    width: 125pt;
    clear: left;
    float: left;

    &__title {
      display: block;
    }
  }
  &__lists {
    &__list {
      &__item {
        display: inline-block;
        padding: 0pt 4pt 0pt 0pt;
      }
    }
  }
}